@import url('https://fonts.googleapis.com/css?family=Barlow:300,300i,500,500i');
body {
  margin: 0px;
  overflow: hidden;
  background: #eeeeee;
  color: #222222;
  font-family: "Barlow", "Avenir Next", sans-serif;
  font-style: italic;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-weight: 300;
}
iframe {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 9;
}
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.1s ease;
}
a:hover {
  color: #aaaaaa;
}
.title {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
}
.links {
  text-align: center;
  font-size: 30px;
}
.overlay {
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 30px;
  color: white;
  display: block;
  background: #252525;
  width: 100vw;
}
