@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,500');
html {
  background: url('https://github.com/frontiermusic/frontiermusic.github.io/blob/master/bg.jpg?raw=true');
  background-size: cover;
  background-position: center center;
}
body {
  margin: 0px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Yantramanav", sans-serif;
  font-size: 25px;
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: inherit;
}
div.title {
  font-size: 45px;
  font-weight: 500;
}
